* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: black;
    background-color: white;
}

.container {
    width: 90%;
    height: 80vh;
    margin: 40px auto;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    gap: 20px;
}

.boxOne {
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.boxTwo {
    background-color: deepskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.boxCenter {
    background-color: cornflowerblue;
    display: flex;
    grid-row: 1 / span 2;
    grid-column: 2;
    grid-column-start: 2;
    grid-column-end: auto;
    font-size: 20px;
}

.center {
    flex-direction: column;
}

.btn{
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}