*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bluey-container {
    position: absolute;
    left: 10%;
}

#bluey {
    width: 100px;
    height: 150px;
    position: absolute;
    transition: all 1s ease;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 10%;
}

button {
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: bisque;
    color: black;
    border: none;
    border-radius: 5px;
}

.left-right {
    display: flex;
    gap: 30px;
}

.up-down {
    display: flex;
    gap:30px;
}